@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&display=swap');
/* navstarts */
.myClass{
    margin: 1rem;
    /* padding: 2rem; */
    box-sizing: border-box;
    display: flex;
    /* background-color: black; */
    /* color: white; */
    flex-wrap: wrap;
    justify-content: space-around;
}
.myClass h1{
    font-size: 20px;
}
.navlinks{
    display: flex;
    flex-wrap: wrap;
}
.navlinks a{
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    padding: 0rem 1rem;
}
/* navends */

/* header starts */
.header{
    display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 91vh;
  margin: 0;
}
.header h1{
    font-size: 2.5em;
    font-family: Source Sans Pro,Helvetica,sans-serif;
}
.header p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    letter-spacing: 0;
}
.styleicon{
    position: fixed;
    bottom: 10px;
    right: 10px;
    animation: scroll-down 1s linear infinite;
  }
  
  @keyframes scroll-down {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, 10px);
    }
  }
/* header ends  */
/* widget starts */
.widgets{
    width: fit-content;
    display: flex;
    top: 1rem;
    margin: 1rem;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    box-shadow: 0 15PX 35px rgba(0,0,0,.09);
    border-radius: 2rem;
}
.widgets h2{
    margin: 0rem 1rem;
    font-size: 1rem;
}
/* widget ends */
/* chapters starts */
.chapters{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* height: 91vh; */
  margin: 6rem 0rem;
  padding: 0rem 0.5rem;
}
.chapters h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  padding: 2rem 0rem;
}
.chapters button{
  border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-color: var(--ast-global-color-2);
    background-color: var(--ast-global-color-2);
    color: var(--ast-global-color-5);
    font-family: inherit;
    font-weight: 500;
    line-height: 1em;
    font-size: 16px;
    font-size: 1rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    margin: 0.3rem 0rem;
}
/* .chapter_context{
  color: #000;
  font-size: 18px;
  border: 2px solid #222;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  gap: 16px;
  align-items: center;
  will-change: transform;
  justify-content: space-between;
  background-color: #fff;
  transition: all .3s ease-in-out;
  margin: 1rem;
  width: 431px;
}
@media screen and (max-width: 440px) {
  .chapter_context{
    padding: 7px;
    margin: 0.5rem 1rem;
    width: 95%;
  }
  .widgets h2{
    margin: 0rem 0.3rem;
  }
} */
/* .chapter_context .chapter_context_number h1{
  font-size: 1.5rem;
  font-family: 'Playpen Sans', cursive;
} */
/* chapters ends */
